@{
    ViewData["Title"] = "O servisu";
}
<h1 class="display-3">@ViewData["Title"]</h1>

<div class="container-fluid">
    <p>
        Servis za konkurisanje za stipendiju je internet servis koji omougucava korisnicima da pogledaju uslove za razne stipendije, konkurisu za njih,
        a takodje pruza mogucnost adminima da upravljaju zahtevima korisnika.
    </p>
</div>