@{
    ViewData["Title"] = "Pocetna";
}

<div class="text-center welcome-section">
    <h1 class="display-3">Dobrodosli,</h1>
    <h2 class="display-4">Ulogujte se i konkurisite lako za stipendiju.</h2>
    <h3>Registruj se, prijavi se, i konkurisi za stipendiju</h3>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PrijavaIliRegistracija">
        <button class="btn mojeDuge">PRIJAVI SE</button>
    </a>
</div>
