@{
    ViewData["Title"] = "Prijava ili registracija";
}

<div class="text-center">
    <p class="display-1">Ukoliko vec imate nalog, prijavite se, a ukoliko ne, registrujte se!</p>
    <div class="d-inline-flex">
        <a class="nav-link text-dark" asp-area="" asp-controller="Nalog" asp-action="Prijava"><button>PRIJAVI SE</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Nalog" asp-action="Registracija"><button>REGISTRUJ SE</button></a>
    </div>
</div>
