@using SlojPodataka.Klase;
@model Korisnik

@{
    ViewData["Title"] = "Izmenite profil";
}

<head>
</head>
<div class="card">
    <h4 class="text-center mb-4">Izmeni podatke</h4>
    <form asp-action="IzmeniPodatke" method="post">

        <div class="row text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="Ime">Ime<span class="text-danger"> *</span></label>
                <input asp-for="Ime" class="form-control">
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="Prezime">Prezime<span class="text-danger"> *</span></label>
                <input asp-for="Prezime" class="form-control">
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
        </div>

        <div class="row text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="Email">E-mail adresa<span class="text-danger"> *</span></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="Lozinka">Lozinka<span class="text-danger"> *</span></label>
                <input asp-for="Lozinka" class="form-control">
                <span asp-validation-for="Lozinka" class="text-danger"></span>
            </div>
        </div>

        <div class="row text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="Drzavljanstvo">Drzavljanstvo<span class="text-danger"> *</span></label>
                <input asp-for="Drzavljanstvo" class="form-control">
                <span asp-validation-for="Drzavljanstvo" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
                <label asp-for="Jmbg">JMBG<span class="text-danger"> *</span></label>
                <input asp-for="Jmbg" class="form-control">
                <span asp-validation-for="Jmbg" class="text-danger"></span>
            </div>
        </div>

        <div class="btn-group btn-group-sm dugmad-cont" role="group">
            <button type="submit" class="btn btn-sm btn-success" name="action" value="izmeni" id="izmeniDugme">Izmeni podatke</button>
            <button type="submit" class="btn btn-danger btn-sm" name="action" value="obrisi">Obrisi nalog</button>
        </div>
    </form>
</div>
